.news--title {
  font-size: 27px;
}

.news--image {
  max-width: 610px;
  max-height: 190px;
}

.news--description {
  margin-top: 20px;
  font-size: 24px;
  line-height: 1.4em;
}

.news--footer {
  margin-top: 10px;
}
